.item-container {
  border: 1px solid #333;
  padding: 0.5rem;
  gap: 12px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border-radius: 6px;
}

.task-name-container {
  width: 70%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.options-container {
  display: flex;
  gap: 10px;
  flex: 1 1;
}

.delete-info-container {
  display: flex;
  gap: 12px;
  /* flex-grow: 1; */
}

.select-input {
  padding: 6px;
  border: 1px solid #888;
  outline: none;
  border-radius: 6px;
  /* flex-grow: 1; */
}
.note-input {
  padding: 6px 12px;
  border: none;
  outline: none;
  width: 100%;
}
.note-container {
  flex: 1 1;
  display: flex;
  border-radius: 6px;
  max-width: 500px;
  overflow: hidden;
  position: relative;
}
.note-btn {
  position: absolute;
  height: 100%;
  border: none;
  outline: none;
  background-color: rgb(199, 193, 193);
  padding: 0% 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}
.task-option {
}

.star-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-input {
  padding: 0%;
  margin: 0px 8px;

  outline: none;
}
.check-input:checked {
}

.task-label {
  font-size: 18px;
  text-transform: capitalize;
}

.ud-op-container {
}
.update-btn,
.delete-btn {
  padding: 8px 12px;
  background-color: rgb(0 0 0/10%);
  border-radius: 6px;
  border: none;
  outline: none;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 6px;
  align-items: center;
  flex-grow: 1;
}

.ud-op-btn:hover {
}
.task-info {
}

.info {
}
.task-info .info {
}
.task-info .info::after {
}

.task-info:hover .info {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .mb-disable {
    display: none;
  }

  .delete-info-container {
    flex-grow: 1;
  }
}
