.home-container {
  padding: 6px 6%;
  min-height: calc(100dvh - 50px);
  background-color: rgb(239, 239, 239);
}

.task-heading {
  margin-bottom: 6px;
}
.task-input {
  outline: none;
  border: 2px solid rgb(75, 77, 78);
  padding: 12px 18px;
  width: 550px;
  border-radius: 30px;
  font-size: 16px;
  box-shadow: 4px 4px 1px #333;
}
.create-task-container {
  text-align: center;
}
.tasks-container {
  list-style-type: none;
  padding: 0%;
  margin: 0;
}
