.nav-bar {
  background-color: rgb(29, 90, 90);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
}

.nav-image {
  height: 60px;
}

.logout-btn {
  all: unset;
  color: #fff;
  height: 100%;
  padding: 0.5rem 1.2rem;
  background-color: rgb(83, 113, 108);
  border-radius: 4px;
  font-size: 13.5px;
  letter-spacing: 1px;
  font-weight: 600;
  box-shadow: 0 0 5px rgb(0 0 0/20%);
}
